{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
   <div class="well">
      <h1>About</h1>
      <img style="width:100%;padding-bottom:20px" src="/assets/img/hs-clubaboutsmall.jpg">

         <p>
         The motivation for running High School Computing Club came when a bunch of UNSW's Computer
         Science &amp; Engineering (CSE) students
         presented workshops and classes at the UNSW Computing 2012 Winter School.
         These students noticed that a lot of high school students are enthusiastic about computing,
         but there was inadaquate support available when they tried to learn on their own.
         </p>

         <p>
         The High School Computing Club aims to bring together students with similar interests,
         where the CSE students are there to provide guidance and high school students support
         each other in developing their skills and expanding their knowledge.
         </p>

         <p>
         In addition to this, the High School Computing Club runs workshops and events aimed specifically
         at giving high school students greater exposure to the more interesting aspects of computing that
         are not always taught in high schools computing classes, such as building a website, learning the
         basics of programming, and writing an artificial intelligent agent.
         </p>

   </div>
</div>
{% endblock %}
