{% extends "index.html" %}

{% block titlecontent %}Emailing List{% endblock %}

{% block content %}


<script type="text/javascript">
    function selectAll(bx){
        var sec_stu = document.getElementById("select_Stu")
        sec_stu.checked = bx.checked;
        var sec_tea = document.getElementById("select_Tea")
        sec_tea.checked = bx.checked;
        var sec_par = document.getElementById("select_Par")
        sec_par.checked = bx.checked;

        for (var tbls = document.getElementsByTagName("table"),i=tbls.length; i--;)
            for (var bxs=tbls[i].getElementsByTagName("input"),j=bxs.length; j--;)
               if (bxs[j].type=="checkbox")
                   bxs[j].checked = bx.checked;
    }

    function selectByName(bx, box_name){
        var sec_all = document.getElementById("select_All")
        if(sec_all.checked)
            sec_all.checked = bx.checked;
        for (var tbls = document.getElementsByTagName("table"),i=tbls.length; i--;)
            for (var bxs=tbls[i].getElementsByTagName("input"),j=bxs.length; j--;)
               if (bxs[j].name==box_name)
                   bxs[j].checked = bx.checked;
    }
</script>


<div class="container">
    <div class="well">

        <input type="checkbox" id="select_All" onclick="selectAll(this)" checked><b>Select All</b>
        <input type="checkbox" id="select_Stu" onclick="selectByName(this, 'stu_email')" checked><b>Student</b>
        <input type="checkbox" id="select_Tea" onclick="selectByName(this, 'tea_email')" checked><b>Teacher</b>
        <input type="checkbox" id="select_Par" onclick="selectByName(this, 'par_email')" checked><b>Parent</b>

        <h2>Student</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sub_Type</th>
                </tr>
            </thead>
            <tbody>
                {% for s in student %}
                    <tr>
                        <td><input type="checkbox" name="stu_email" checked></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.email }}</td>
                        <td>{{ s.sub_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Teacher</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sub_Type</th>
                </tr>
            </thead>
            <tbody>
                {% for t in teacher %}
                    <tr>
                        <td><input type="checkbox" name="tea_email" checked></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.email }}</td>
                        <td>{{ t.sub_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Parent</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sub_Type</th>
                </tr>
            </thead>
            <tbody>
                {% for p in parent %}
                    <tr>
                        <td><input type="checkbox" name="par_email"checked></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.sub_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

