{% extends "index.html" %}

{% block titlecontent %}Emailing List{% endblock %}

{% block content %}


<script type="text/javascript">
    function selectAllBox(box){
        var selectAllStudent = document.getElementById("selectAllStudentCheckBox");
        selectAllStudent.checked = box.checked;
        var selectAllTeacher= document.getElementById("selectAllTeacherCheckBox");
        selectAllTeacher.checked = box.checked;
        var selectAllParent = document.getElementById("selectAllParentCheckBox");
        selectAllParent.checked = box.checked;

        for (var tables = document.getElementsByTagName("table"),i=tables.length; i--;)
            for (var boxes=tables[i].getElementsByTagName("input"),j=boxes.length; j--;)
               if (boxes[j].type=="checkbox")
                   boxes[j].checked = box.checked;
    }

    function selectByAttribute(box, box_name){
        var selectAll = document.getElementById("selectAllCheckBox")
        if(selectAll.checked)
            selectAll.checked = box.checked;
        for (var tables = document.getElementsByTagName("table"),i=tables.length; i--;)
            for (var boxes=tables[i].getElementsByTagName("input"),j=boxes.length; j--;)
               if (boxes[j].getAttribute('persontype')==box_name)
                   boxes[j].checked = box.checked;
    }
</script>


<div class="container">
    <div class="well">
        <form action="/admin/emailing" method="post">

            <input type="checkbox" id="selectAllCheckBox" onclick="selectAllBox(this)" checked><b>Select All</b>
            <input type="checkbox" id="selectAllStudentCheckBox" onclick="selectByAttribute(this, 'student')" checked><b>Student</b>
            <input type="checkbox" id="selectAllTeacherCheckBox" onclick="selectByAttribute(this, 'teacher')" checked><b>Teacher</b>
            <input type="checkbox" id="selectAllParentCheckBox" onclick="selectByAttribute(this, 'parent')" checked><b>Parent</b>

            <h3>Student</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Sub_Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in student %}
                        <tr>
                            <td><input type="checkbox" name="emails" personType="student" value="{{s.email}}" checked></td>
                            <td>{{ loop.index }}</td>
                            <td>{{ s.name }}</td>
                            <td>{{ s.email }}</td>
                            <td>{{ s.sub_type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Teacher</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Sub_Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in teacher %}
                        <tr>
                            <td><input type="checkbox" name="emails" personType="teacher" value="{{t.email}}" checked></td>
                            <td>{{ loop.index }}</td>
                            <td>{{ t.name }}</td>
                            <td>{{ t.email }}</td>
                            <td>{{ t.sub_type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Parent</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Sub_Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in parent %}
                        <tr>
                            <td><input type="checkbox" name="emails" personType="parent" value="{{p.email}}" checked></td>
                            <td>{{ loop.index }}</td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.sub_type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>

            <h4>Email Subject</h4>
            <input type="text" name="email_subject" required style='width:70%' >

            <h4>Email Body</h4>
            <textarea rows="5" cols="100" style="width:98%; height:250px;" name="email_body">
,

<--- ^^^DO NOT REMOVE TOP 2 LINES^^^ ***REMOVE THIS LINE*** Your email message starts here--->




Should you have any questions, feel free to contact us at team@compclub.com.au.

UNSW Computing Club</textarea>

            <input type="submit">

        </form>
    </div>
</div>
{% endblock %}

