{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
	<div class="well">
		<form class="form-horizontal" action="/feedback" method="post">
			<legend>Feedback Form</legend>
            <div class="form-group">
                <label class="col-md-3 control-label">Name of module?</label>
                <div class="col-md-4">
                    <select required name="course" class="form-control" style="width: 200px">
                        <option value="">---------</option>
                        <!--<option value="intro">Introduction to Programming</option>
                        <option value="smartphones">Smartphone Sensors</option>
                        <option value="databases">Relation Database Design and Implementation</option>
                        <option value="internet">How the Internet works</option>
                        <option value="practicalprogramming">Practical Programming</option>
                        <option value="basicweb">Basic Web Design using HTML and CSS</option>
                        <option value="financial">Overview of Financial Systems</option>
                        <option value="advancedweb">Advanced web design using Javascript and PHP</option>
                        <option value="gamemaker">Introduction to Gamemaker</option>
                        <option value="progcomp">ProgComp for newbies</option>
                        <option value="sbhs">SBHS Talk - 13th September</option>-->
                        <option value="advweb">Advanced Web Dev</option>
                        <option value="arduino">Arduino</option>
                        <option value="gamemaker">Gamemaker</option>
                        <option value="unixverse">Beginners' Guide to the UNIXverse</option>
                        <option value="intro">Introduction to Programming</option>
                        <option value="introweb">Introduction to Web Dev</option>
                        <option value="rescuerobots">Rescue Robots</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <table style="width: 100%; text-align: center">
                    <thead>
                        <tr>
                            <th width="40%"> Question </th>
                            <th width="10%"> Strongly Agree </th>
                            <th width="10%"> Agree </th>
                            <th width="10%"> Mildly agree </th>
                            <th width="10%"> Mildly disagree </th>
                            <th width="10%"> Disagree </th>
                            <th width="10%"> Strongly disagree </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>The aims of this module were clear to me</td>
                            <td><input required type="radio" name="aims_module_clear" value="1"> </td>
                            <td><input type="radio" name="aims_module_clear" value="2"> </td>
                            <td><input type="radio" name="aims_module_clear" value="3"> </td>
                            <td><input type="radio" name="aims_module_clear" value="4"> </td>
                            <td><input type="radio" name="aims_module_clear" value="5"> </td>
                            <td><input type="radio" name="aims_module_clear" value="6"> </td>
                        </tr>
                        <tr>
                            <td>The module was challenging and interesting</td>
                            <td><input required type="radio" name="challenging_interesting" value="1"> </td>
                            <td><input type="radio" name="challenging_interesting" value="2"> </td>
                            <td><input type="radio" name="challenging_interesting" value="3"> </td>
                            <td><input type="radio" name="challenging_interesting" value="4"> </td>
                            <td><input type="radio" name="challenging_interesting" value="5"> </td>
                            <td><input type="radio" name="challenging_interesting" value="6"> </td>
                        </tr>
                        <tr>
                            <td>The presenter was effective in presenting this module</td>
                            <td><input required type="radio" name="presenter_effective" value="1"> </td>
                            <td><input type="radio" name="presenter_effective" value="2"> </td>
                            <td><input type="radio" name="presenter_effective" value="3"> </td>
                            <td><input type="radio" name="presenter_effective" value="4"> </td>
                            <td><input type="radio" name="presenter_effective" value="5"> </td>
                            <td><input type="radio" name="presenter_effective" value="6"> </td>
                        </tr>
                        <tr>
                            <td>I would recommend this module to my friends next year</td>
                            <td><input required type="radio" name="would_recommend" value="1"> </td>
                            <td><input type="radio" name="would_recommend" value="2"> </td>
                            <td><input type="radio" name="would_recommend" value="3"> </td>
                            <td><input type="radio" name="would_recommend" value="4"> </td>
                            <td><input type="radio" name="would_recommend" value="5"> </td>
                            <td><input type="radio" name="would_recommend" value="6"> </td>
                        </tr>
                        <tr>
                            <td>Overall, I was satisfied with the quality of this module</td>
                            <td><input required type="radio" name="overall_satisfied" value="1"> </td>
                            <td><input type="radio" name="overall_satisfied" value="2"> </td>
                            <td><input type="radio" name="overall_satisfied" value="3"> </td>
                            <td><input type="radio" name="overall_satisfied" value="4"> </td>
                            <td><input type="radio" name="overall_satisfied" value="5"> </td>
                            <td><input type="radio" name="overall_satisfied" value="5"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
				<label class="control-label col-md-3">The best part of the module:</label>
                <div class="col-md-6">
                    <textarea rows="5" name="best_part" class="form-control" style="width:300px"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">The worst part of the module:</label>
                <div class="col-md-6">
                    <textarea rows="5" name="worst_part" class="form-control" style="width:300px"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Any other comments or suggestions you would like to make about your experience today:</label>
                <div class="col-md-6">
                    <textarea rows="5" name="other_comments" class="form-control" style="width:300px"></textarea>
                </div>
            </div>

            <center>
                <input class="btn btn-primary btn-large" id="submitFeedback" type="submit" value="Submit">
			</center>
		</form>
	</div>
</div>

{% endblock %}
