{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}


<div class="container">
    <div class="well">
        <div class="page-header">
            <h1>
                <strong>Other Computing Programs</strong>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="page-header">
                <h3>
                    <a href="http://www.ncss.edu.au/summer_school/index.html">
                        NCSS Summer School
                    </a>
                </h3>
            </div>
            <div class="col-md-6">
                <em>Dates: 4 - 13 January 2015</em>
                <p><em>An intensive 10 days of computer programming, robotics, web design and related activities at the University of Sydney. No programming experience is required.</em></p>
                <p>During the NCSS Summer School, students intensively learn more advanced programming skills (either in web programming or embedded systems/robotics). </p>
                <p>The web programming teams build Facebook-like social networking applications using Python (with the Tornado web framework), HTML5, JQuery, SQLite, and a bunch of other modern tools.  The embedded systems teams program arduinos, most recently designing and implementing GPS tracking for a weather balloon.</p>
            </div>
            <div class="col-md-6">
                <img class="img-rounded" src="http://www.ncss.edu.au/images/summer_school/photo_irobot_final_challenge.jpg" />

            </div>
        <div class="row-fluid">
            <div class="page-header">
                <h3>
                    UNSW Computing
                </h3>
            </div>
            <div class="col-md-6" >
                <img class="img-rounded" src="http://www.computing.unsw.edu.au/export/sites/computing/images/2007/CSESign.jpg" />
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="http://www.computing.unsw.edu.au/school-programs/progcomp/">
                        ProgComp
                    </a>
                </h3>
                <p>High School teams compete against other teams from across Australia for cash prize money and scholarships to UNSW.  Any programming language can be used.</p>
                <h3>
                    <a href="http://www.computing.unsw.edu.au/school-programs/high-school-computing/">
                        HS1917
                    </a>
                </h3>
                <p>UNSW Computing course for year 11 and 12 students. Each year, a limited number of talented high school students will be offered the opportunity to enrol at UNSW and take COMP1917, our highly popular first-year university level course in computing.  The Course is commonly called HS1917.</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">
                <div class="page-header">
                    <h3>
                        <a href="https://groklearning.com/challenge/?utm_source=challenge-ncss&utm_medium=website&utm_campaign=challengeweb">
                            NCSS Challenge
                        </a>
                    </h3>
                </div>
                <em>Dates: 4 August - 7 September 2014</em>
                <p><em>A programming competition with a difference - we teach you how to program as you go along. No programming experience is required.</em></p>
                <p>The NCSS Challenge is a 5-week online programming competition and learning resource, designed to overcome the lack of programming and computer science taught in Australian high schools.  The Challenge is unique because unlike existing competitions, we don't expect students to know how to program in advance, but instead teach them about computer programming over a 5 week course.  We provide a short set of notes and video lectures covering one or more programming concepts (e.g. if statements) and then a series of fun and challenging programming problems that require those concepts to solve.  Our intelligent auto-marker runs a series of test cases live against the problems, identifying errors and giving students hints about how to correct their program.  We also have online forums and messages to over 30 volunteer tutors who provide technical support and encouragement.</p>

                <p>The Challenge includes 3 different streams from Beginners to Advanced, to make sure each participant is challenged and extended.</p>

                <p>In 2013 we had over 6000 high school students (and some primary school students) compete in the Challenge from right across Australia and New Zealand.</p>
            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h3>
                        <a href="http://firstaustralia.org/node/54">
                            FIRST Robotics Competition
                        </a>
                    </h3>
                </div>
                <p>FIRST® Robotics Competition (FRC) is commonly referred to as a sport for the mind, combining the rigors of science and technology, smarts of a science fair, and excitement of the State of Origin.  High school students from around the world, guided by professional engineers, build and program robots weighing up to 50 kg and up to two meters tall to accomplish a variety of tasks.  Incorporating skills and expertise in mechanical design, electrical systems and software engineering, each team must go from game challenge through design, build, wire, program and test in only six weeks.  Ask any professional engineer, and they’ll tell you it is impossible to go from problem to product in six weeks, but FRC students do it every year!</p>
                <p>FRC goes beyond building a robot to create well informed citizens for tomorrow.  In addition to technical expertise, students can hone their teamwork, communication, business, and strategy skills before getting to compete like crazy at competition.  It's as close to 'real-world engineering' as students can get.  But it’s not just about engineering - participants in FRC can choose to engage and compete in animation, video production, marketing, website design, public speaking, music composition, graphic design and more in the name of promoting their robot and their team.</p>
                <p>FRC continues to engage returning students by changing the game each year; previous challenges have included modified games of basketball, soccer, racing, and ultimate Frisbee.</p>
                <p>For more information about FRC, to find team near you, or start your own team, please go to firstaustralia.org/contact.</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="page-header">
                <h3>
                    <a href="http://web.it.usyd.edu.au/~gpn/">
                        Girls' Programming Network
                    </a>
                </h3>
            </div>
            <div class="col-md-6">
                <p><strong>Dates:</strong></p>
                <p>Term 1: Saturday 1 March 2014 (School term Week 5)</p>
                <p>Term 2: Sunday 1 June 2014 (School term Week 5)</p>
                <p>Term 3: Saturday 9 August 2014 (School term Week 4)</p>
                <p>Term 4: Sunday 2 November 2014 (School term Week 4)</p>
                <p><em>The Girls’ Programming Network (GPN) is a programming club developed and run by girls for high school girls interested in learning and/or improving their computing skills. No programming experience is required.</em></p>
                <p>The Girls’ Programming Network is an extra-curricular program for high school girls in years 8-12 interested in computers and technology. GPN is run by girls, for girls. The tutors are a mix of University IT students (from the University of Sydney and others) as well as professional software engineers.</p>
                <p>GPN investigates different topics in the world of computers and IT, teaching students to program in Python. Each school term we run a workshop where students make a small project such as a game in a day. For all our workshops, no previous programming knowledge is assumed, and we organise extension activities and lectures designed for more advanced students.</p>



            </div>
            <div class="col-md-6">
                <p>GPN is an excellent opportunity for students to move beyond being users of technology and learn to be the designers and builders of technology, to move ahead of the typical user and employ both advanced technical skills and creative expression. It lets girls explore computer science in an encouraging, fast-paced atmosphere, and gives the girls the chance to meet new friends with similar interests, find female university students as mentors, and find out about university life.</p>
                <p>The ability not only to use computers but to be a true creator of technology is quickly becoming a valuable skill for students interested in any career, including science, engineering, arts and medicine. For a number of reasons, girls tend to become expert users of technology, but rarely independently take steps to explore creating and developing technology in their own time. This leads to an imbalance in confidence at university, as boys frequently have substantial previous experience in programming and IT. Coupled with the gender imbalance of technology based university enrolments, some girls find choosing Information Technology degrees daunting. The purpose of GPN is to provide an opportunity to develop their technical skills and social network so they can pursue their interest in IT with confidence.</p>


            </div>
        </div>
        <div class="row-fluid">
            <div class="page-header">
                <h3>
                    <a href="http://sydney.robogals.org.au/">
                        Robogals UNSW
                    </a>
                </h3>
            </div>
            <div class="col-md-6">
                <p><strong>Robogals UNSW</strong> is a non-profit, student run organisation that seeks to encourage and increase female participation in engineering, science and technology fields. Volunteers primarily run simple, fun and FREE NXT LEGO robotics workshops for primary and secondary school girls either at UNSW or at their school. During the workshops, students get to build then program the NXT LEGO robot to fulfil multiple challenges such as making the robot do the Hokey Pokey Dance or escape from a maze. No prior knowledge is required as the volunteers teach and help everyone throughout the workshop and instruction booklets are given.</p>
                <p>We also hold career talks for high school students, summer holiday workshops, help with ROBOCUP JUNIOR Competitions and hold workshops in rural NSW.</p>
                <p>We are holding a FREE summer holiday workshops for boys and girls on the 8th and 11th of January 2014 at UNSW. Please email zoe@robogals.org.au for more information or to book a spot.</p>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <p><img class="img-rounded" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/t1/1383432_641254229240192_1966776430_n.png"</p>
            </div>
            <div style="text-align: center;">

            </div>
        </div>
    </div>
</div>
{% endblock %}
