{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
	<div class="well">
		<form class="form-horizontal" action="/signup" method="post">
			<legend>Signup for {{ course.title }}</legend>
			<input type="hidden" name="course" value="{{ course.key().id() }}" />
			<div class="alert alert-error" style="display:none" id="regoError">
				Please fill in all fields.
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">Full name</label>
                <div class="col-sm-3">
				    <input type="text" class="form-control" name="full_name" maxlength="200">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Gender</label>
                <div class="col-sm-3">
				    <select name="gender" class="form-control">
                        <option value="" selected="selected">---------</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-3">
                    <input class="form-control" type="email" name="email" maxlength="200">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">High School</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="highschool" maxlength="200">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">What year are you in?</label>
                <div class="col-sm-1">
                    <input class="form-control" type="number" name="year" min="5" max="12" value="{{ year }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Emergency contact name</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="emergency_contact_name" maxlength="200">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Emergency contact number</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="emergency_contact_number" maxlength="200">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Have access to a laptop?</label>
                <div class="col-sm-3">
                    <input type="checkbox" name="laptop">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Level of programming skill?</label>
                <div class="col-sm-3">
                    <select name="level" class="form-control">
                        <option value="" {% if level == "" %} selected="selected" {% endif %}>---------</option>
                        <option value="1" {% if level == "1" %} selected="selected" {% endif %} >Beginner</option>
                        <option value="2" {% if level == "2" %} selected="selected" {% endif %}>Intermediate</option>
                        <option value="3" {% if level == "3" %} selected="selected" {% endif %}>Expert</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Why do you want to do this course?</label>
                <div class="col-sm-3">
                    <textarea class="form-control" name="reason" rows="5"></textarea>
                </div>
            </div>

			<center>
				<a class="btn btn-secondary btn-large" href="javascript:history.go(-1)" type="button" style="margin-right: 70px">Back</a>
				<input class="btn btn-primary btn-large" id="submitRego" type="submit" value="I'm done, sign me up!">
			</center>
		</form>
	</div>
</div>


{% endblock %}
