{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}



<div class="container">
    <div class="well">
        <div class="page-header">
            <h1>Register for updates</h1>
        </div>
        <form class="form-horizontal" action="/subscription" method="post">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Full name:</label>
                <div class="col-sm-4">
                    <input required id="name" name="name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-4">
                    <input required id="email" name="email" type="email" class="form-control" placeholder="Email Address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Subscription Type:</label>
                <div class="col-sm-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="sub_type" id="sub_type1" value="student" checked>Student
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="sub_type" id="sub_type2" value="teacher" checked>Teacher
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="sub_type" id="sub_type3" value="parent" checked>Parent
                        </label>
                    </div>
                </div>
            </div>

            <div style="text-align: center">
                <a class="btn btn-secondary btn-large" href="javascript:history.go(-1)" type="button" style="margin-right: 70px">Back</a>
                    <input class="btn btn-primary btn-large" id="sub_submit" type="submit" value="Subscribe">
            </div>
        </form>
    </div>
</div>
{% endblock %}