{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
	<div class="well">
		<h1>Thanks!</h1>
		<p>
            Thank you for your feedback on the UNSW Computing Winter School 2013.
        </p>
        <p>
            If you would like to receive updates about the UNSW High School Computing Club
            and its workshops, please signup to our <a href="/subscription">mailing list</a>.
        </p>
	</div>
</div>
{% endblock %}
