{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
	<div class="well">
		<h1>Thanks!</h1>
		<p>
      Thanks for registering. You are now a member of the UNSW High School Computing Club.
      You should receive an email shortly at {{ email }} with more information.
      If you have any questions or would like to contact the Club, please send us an email at
         <a href="mailto:team@compclub.com.au">team@compclub.com.au</a>
      .
      </p>
	</div>
</div>
{% endblock %}
