{% extends "index.html" %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}

<div class="container">
	<div class="well">
		<h1>SADFACE!</h1>
		<p>
            Thank you for un-subscribing. Whould you like to give us some feedback? Click here? ?????? maybe....
        </p>
        <p>
            If you have any questions or would like to contact the Club, please send us an email at
             <a href="mailto:team@compclub.com.au">team@compclub.com.au</a>.
        </p>
	</div>
</div>
{% endblock %}